.experience__container{
    max-width: 1000px;
    /* max-width: 1000px; */

}

.experience__sections{
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}

.experience__content{
    display: block;
}

.experience__data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem; 
}

.experience__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.experience__subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    /* margin-bottom: var(--mb-1); */
    margin-bottom: .5rem;
}

.experience__calendar{
    font-size: var(--small-font-size);
}

.experience__rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--text-color);
    border-radius: 50%;
}

.experience__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--text-color);
    transform: translate(6px, -7px)
}

.icon__size_experience{
    height: 1.75rem;
    padding: 2px;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .experience__container{
        margin-left: auto;
        margin-right: auto;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .experience__container{
        margin-left: var(--mb-1-5);
        margin-left: var(--mb-1-5);
    }
  }
  
  @media screen and (max-width: 576px) {
    .experience__sections{
        grid-template-columns: initial;
    }

  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .experience__data{
        gap: 0.5rem;
    }
  }
  
  /* 2:14:00 */